<div class="edit-form">
  <%= form_for @user, :url => {:action => :process_register} do |form| %>
      <p>
        <%= form.email_field :mail, :placeholder => "Email" %>
      </p>
      <p>
        <%= form.text_field :surname, :placeholder => "Surname" %>
      </p>
      <p>
        <%= form.text_field :name, :placeholder => "Name" %>
      </p>
      <p>
        <%= form.select :gender, options_for_select([[:male, 'm'], [:female, 'f']]) %>
      </p>
      <p>
        <%= form.password_field :password_digest, :placeholder => "Password" %>
      </p>
      <p>
        <%= form.password_field :confirm_password, :placeholder => "Confirm Password" %>
      </p>

      <%= form.submit :sign_up, :class => 'btn btn-success' %>
  <% end %>
</div>
