<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <h4>TICKET REPORTS</h4><hr>
      <ol>
        <li><%= link_to t(:active_tickets), :action => :index, :type => 0 %></li>
        <li><%= link_to t(:resolved_tickets), :action => :index, :type => 2 %></li>
        <li><%= link_to t(:closed_tickets), :action => :index, :type => 3 %></li>
        <li><%= link_to t(:my_active_tickets), :action => :index, :type => 'my_0' %></li>
        <li><%= link_to t(:my_resolved_tickets), :action => :index, :type => 'my_2' %></li>
        <li><%= link_to t(:my_closed_tickets), :action => :index, :type => 'my_3' %></li>
      </ol>
    </div>
    <div class="span10">
      <%= link_to t(:new_ticket), new_gold_dust_ticket_path %>
      <hr>
      <%= t(:description_1) %>
      <br>
      <%= render :partial => 'tables' %>
    </div>
  </div>
</div>
