<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <h4>TICKET REPORTS</h4><br>
      <ol>
        <li><%= link_to t(:active_tickets), '#' %></li>
        <li><%= link_to t(:resolved_tickets), '#' %></li>
        <li><%= link_to t(:closed_tickets), '#' %></li>
        <li><%= link_to t(:my_active_tickets), '#' %></li>
        <li><%= link_to t(:my_resolved_tickets), '#' %></li>
        <li><%= link_to t(:my_closed_tickets), '#' %></li>
      </ol>
    </div>
    <div class="span10">
      <!--Body content-->
      <%= link_to t(:new_ticket), new_gold_dust_ticket_path %>
      <br><br>
      <%= t(:description) %>
      <h3><%= @ticket.title %></h3>

      <h2><p class="pull-right"># <%= @ticket.id %></p></h2>
      <table class="table table-striped">
        <tr>
          <th><%= "Status: #{@ticket.priority.capitalize}" %></th>
          <th>Reporter: <%= link_to @ticket.reporter_user.name, gold_dust_person_path(@ticket.reporter_user.id) %></th>
        </tr>
        <tr>
          <th></th>
          <th>Assigned
            To: <%= link_to @ticket.assigned_to_user.name, gold_dust_person_path(@ticket.reporter_user.id) %></th>
        </tr>
      </table>
      <%= link_to t(:edit_ticket), edit_gold_dust_ticket_path(@ticket.id) %> |
      <%= link_to t(:make_a_comment), '#' %> <br>
      <% if @ticket.status == 0 %>
          <%= link_to t(:accept_ticket), :action => :accept_ticket, :id => @ticket.id %> |
          <%= link_to t(:resolve_ticket), :action => :resolve_ticket, :id => @ticket.id %> |
      <% else %>
          <%= link_to t(:resolve_ticket), :action => :resolve_ticket, :id => @ticket.id %> |
          <%= link_to t(:close_ticket), :action => :close_ticket, :id => @ticket.id %> |
      <% end %>

      <div class="progress">
        <% case @ticket.status %>
        <% when 0 %>
            <div class="bar" style="width: 1%;"></div>
        <% when 1 %>
            <div class="bar" style="width: 30%;"></div>
        <% when 2 %>
            <div class="bar" style="width: 65%;"></div>
        <% when 3 %>
            <div class="bar" style="width: 100%;"></div>
        <% end %>
      </div>
      <div class="row">
        <div class="span3">Reassigned</div>
        <div class="span4">Accepted</div>
        <div class="span4">Resolved</div>
        <div class="pull-right">Closed</div>
      </div>
      <br>
      <blockquote>
        <p><%= @ticket.body %></p>
      </blockquote>

      <blockquote class="pull-right">
        <small>Created on <%= @ticket.created_at.strftime('%d %B %Y') %></small>
      </blockquote>
    </div>
  </div>
</div>