<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <h4>TICKET REPORTS</h4><br>
      <ol>
        <li><%= link_to t(:active_tickets), :action => :index, :type => 0 %></li>
        <li><%= link_to t(:resolved_tickets), :action => :index, :type => 2 %></li>
        <li><%= link_to t(:closed_tickets), :action => :index, :type => 3 %></li>
        <li><%= link_to t(:my_active_tickets), :action => :index, :type => 'my_0' %></li>
        <li><%= link_to t(:my_resolved_tickets), :action => :index, :type => 'my_2' %></li>
        <li><%= link_to t(:my_closed_tickets), :action => :index, :type => 'my_3' %></li>
      </ol>
    </div>
    <div class="span10">
      <!--Body content-->
      <%= link_to t(:new_ticket), new_gold_dust_ticket_path %>
      <hr>
      <%= t(:description) %>
      <h3><%= @ticket.title %></h3>

      <h2><p class="pull-right"># <%= @ticket.id %></p></h2>
      <table class="table table-striped">
        <tr>
          <th><%= "Status: #{@ticket.priority.capitalize}" %></th>
          <th>Reporter: <%= @ticket.reporter_user %></th>
        </tr>
        <tr>
          <th></th>
          <th>Assigned
            To: <%= @ticket.assigned_to_user.name %></th>
        </tr>
      </table>
      <% if current_user %>
          <% if @ticket.status == 0 %>
              <%= link_to t(:edit_ticket), edit_gold_dust_ticket_path(@ticket.id) %> |
              <%= link_to t(:accept_ticket), :action => :accept_ticket, :id => @ticket.id %> |
              <%= link_to t(:resolve_ticket), :action => :resolve_ticket, :id => @ticket.id %> |
          <% elsif @ticket.status < 3 %>
              <%= link_to t(:edit_ticket), edit_gold_dust_ticket_path(@ticket.id) %> |
              <%= link_to t(:resolve_ticket), :action => :resolve_ticket, :id => @ticket.id %> |
              <%= link_to t(:close_ticket), :action => :close_ticket, :id => @ticket.id %> |
          <% end %>
      <% end %>
      <hr>
      <div class="progress">
        <% case @ticket.status %>
        <% when 0 %>
            <div class="bar" style="width: 1%;"></div>
        <% when 1 %>
            <div class="bar" style="width: 30%;"></div>
        <% when 2 %>
            <div class="bar" style="width: 65%;"></div>
        <% when 3 %>
            <div class="bar" style="width: 100%;"></div>
        <% end %>
      </div>
      <div class="row">
        <div class="span3">Reassigned</div>
        <div class="span4">Accepted</div>
        <div class="span4">Resolved</div>
        <div class="pull-right">Closed</div>
      </div>
      <hr>
      <blockquote>
        <p><%= @ticket.body %></p>
      </blockquote>

      <blockquote class="pull-right">
        <small>Created on <%= @ticket.created_at.strftime('%d %B %Y') %></small>
      </blockquote>

      <h4>Comments</h4>
      <%= render :partial => 'comments' %>
    </div>
  </div>
</div>